{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
  {% include "components/_header.html" %}
  <main class="main">
    <div>
        <a href="https://flask.palletsprojects.com/en/stable/" target="_blank">
            <img src="{{ url_for('static', filename='images/flask.png')}}" class="logo" alt="Flask logo" />
        </a>
        <a href="https://www.python.org/" target="_blank">
            <img src="{{ url_for('static', filename='images/python.png')}}" class="logo react" alt="Python logo" />
        </a>
    </div>    
    <h1>Flask</h1>
    <button id="counter" type="button">count is {{counter}}</button>
    <p>
        {{translations.flaskUsed}}<br/>
        {{translations.sourceCodeAvailableOn}} <a href="https://github.com/makxca/makxca-site/tree/main/site/flask">GitHub</a>.<br/>
        {{translations.clickLogosToLearnMoreAboutFlaskAndPython}}
    </p>
  </main>

  <script>
    function incCount() {
      fetch('/flask/counter', {
        method: 'POST',
      })
      .then(response => response.json())
      .then(data => {
        document.querySelector('#counter').innerText = 'count is ' + data.count;
      });
    }
    document.querySelector('#counter').addEventListener('click', incCount);
  </script>
{% endblock %}
